/*BODY, INPUTS, CODES/SPOILERS/HIDE...*/
/*** ------------------------------- ***/

/* BALISES DE MESSAGE : spoiler, code, quote... */

/* Balise code, spoiler et hide*/
.codebox {
display: block;
width: 90%;
max-width: 50vw;
margin: 0 auto;
position: relative;
}

/* Contenu code, spoiler et hide*/
.codebox dd:not(.hidecode dd) {
background: var(--neutralDark);
border-radius: 5px;
padding: 5px;
overflow: hidden auto;
max-height: 250px;
}

/* Nom de balise "code, spoiler" */
.codebox dt {
font-size: var(--little-size);
font-weight: 700;
letter-spacing: 1px;
color: var(--co-2);
transition: all .5s;
text-transform: uppercase;
}

/* bouton "copier" */
.copyCode {
position: absolute;
    top: 7px;
    right: 35px;
    color: var(--co-2);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--little-size);
}

code:not(.codebox code), .code {
background: var(--neutralDarker);
padding: 1px 2px;
border: 1px solid var(--base-2);
border-radius: var(--xs-radius);
color: var(--co-2);
text-shadow: 0 0 3px;
}

code span::before {font-size:var(--small-size);margin:0}

dl.codebox {background-color: var(--neutralDarker);border-left: 4px solid var(--co-2);border-radius: var(--radius);padding: 10px;}
dl.codebox dt {border-bottom: 1px solid var(--co-2);position: inherit;}
dl.codebox::before { color: var(--base-5) }
dl.codebox code { color: var(--textColor); font-family: var(--font); font-size: 14px; line-height: 20px; text-shadow: none; border: none; }
dl.codebox::before {
color: var(--base-5);
}
dl.codebox:not(.hidecode)::before {
content: "\ea11";
position: absolute;
right: 10px;
top: 8px;
display: inline-block;
font-family: var(--font-ic);
color: var(--co-1);
speak: none;
font-style: normal;
}

div.cont_code {
clear: right;
}

/* Spoiler */
.hidebox.spoiler {
}

/* spoiler fermÃ© */
.spoiler_content {
display: none;
}

/* spoiler ouvert */
.spoiler_content.hidden {
display: block;
}

/*code dans les profils*/

#wombat .codebox {padding: 3px 5px}

#wombat dl.codebox:not(.hidecode)::before {
    content: "\e9e4";
    position: static;
    font-family: var(--font-ic);
    font-size: 6px !important;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 50%;
    background: var(--co-gradient);
    color: white;
    float: left;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
    width: 12px;
    height: 12px;
    }

#wombat .codebox dd:not(.hidecode dd) {
    background: none;
    padding: 0 3px 0 0;
}

#wombat dl.codebox dt {
    border: none;
    font-size: var(--small-size);
    line-height: 120%;
}

#wombat .spoiler_content {
    font-size: var(--inter-size);
    line-height: 115%;
}

/* Citation contenu */

blockquote:has(cite) {
margin-bottom: 5px;
padding: 15px 0 15px 15px;
font-size: var(--inter-size);
border-left: 1px solid var(--co-1);
position: relative;
background-color: var(--neutral);
border-radius: 5px;
}

blockquote:has(cite)::before {
content: '\00201D';
right: 0;
color: var(--co-1);
position: absolute;
font-size: var(--xxl-size);
top: -30px;
}

/* Citation mention "... a Ã©crit" */
blockquote cite {
display: block;
font-style: normal;
text-transform: uppercase;
font-size: var(--little-size);
letter-spacing: 1px;
}

/* Citation pseudo */
blockquote cite a {
text-decoration: none !important;
}

blockquote2 {display: block; margin: 0 20px}
blockquote3 {display: block; margin: 0 40px; border-left: 1px solid var(--co-2); padding-left: 20px}
.flex>blockquote {border-left: 1px solid var(--co-2); padding-left: 20px; font-family: courier new;}

/* Hide */
.codebox.hidecode dd {
background: transparent;
opacity: 0.8;
}


/* smileys */
#smilies_categ select { border: none; background: var(--co-gradient); color: white; text-transform: lowercase; width: 99%; text-align: center; border-radius: var(--radius); }

/*** PAGE DE CONNEXION ------------- ***/

/* Centrer les pages de connexion */
form[name="form_login"],
form[name="form_login"]~.panel {
  text-align: center;
}

form[name="form_login"] .content {
  display: grid;
  justify-content: center;
  justify-items: center;
}

#main-content:has(.fld_connexion) {
display: flex;
gap: var(--spacing);
}

#main-content:has(.fld_connexion)>form,
#main-content:has(.fld_connexion)>div {
display: flex;
flex-direction: column;
justify-content: center;
}

#main-content:has(.fld_connexion)>form {width: 60%}
#main-content:has(.fld_connexion)>div {width: 40%}

.panel:has(.fld_connexion) .h3,
.panel:has(a[href="/register"]) .h3 {font-size: 0}

.panel:has(.fld_connexion) .h3,
.panel:has(a[href="/register"]) .h3 {font-size: 0}

.panel:has(.fld_connexion),
.panel:has(a[href="/register"]) {
backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px);
outline-offset: 3px;
outline: 1px solid var(--black);
}

form { margin-bottom: 0; }

.panel:has(.fld_connexion) a,
.panel:has(a[href="/register"]) a {
    border: solid 1px var(--black);
    text-decoration: none;
    color: var(--black);
    text-align: right;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 5px;
    background: linear-gradient(135deg, var(--neutralDark) 33%, var(--co-1), var(--co-2));
    background-size: 350% 120%;
    transition: .7s;
    background-position: 1% 0%;
    background-color: var(--co-1);
    padding: 5px;
    font-size: var(--little-size)
}

.panel:has(.fld_connexion) a:hover,
.panel:has(a[href="/register"]) a:hover {
    background-position: 99% 0%;
}

#bottom.links_bar {
    width: fit-content;
    background-color: var(--neutral);
    border: 1px solid var(--black);
    font-size: var(--small-size);
    text-transform: lowercase;
    padding: 5px 10px;
	justify-self: center;
}

/* onglets dans les messages */
.msg_ong_contenu > div.ongContent {
    display: block;
}

.msg_ong_contenu > div:not(.ongContent) {
	display: none;
}

/* KEYFRAMES */
@keyframes rotate {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(359deg);
}
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--co-2);
    }

    70% {
        box-shadow: 0 0 0 10px var(--co-2c);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
