/* MODÈLES ADMINS, FICHES DE PRÉSA, MISES EN PAGE RP, SIGNATURES, etc */  


/****** SIGNATURE ******/ 

.sign2 {display:flex;width: 300px; margin-top: 40px;}
.sign2_title{position: absolute; font-family: var(--special-font); font-size: var(--xl-size); line-height: 125px; color: var(--co-1); margin: -62px 0px 0px 0px; -webkit-transform: rotate(349deg); text-align: center;}
.sign2_contour{border:1px dashed var(--co-2);border-radius:100%;width:120px;height:120px;padding:10px;z-index:201;position:relative;}
.sign2_gif { width: 100px; height: 100px; object-fit: cover; border-radius: 100%; border: 8px solid var(--co-2);} 
.sign2_txt{margin-top: -150px; background-position: center; margin-left: 100px; overflow: auto; -webkit-transform: rotate(354deg); padding: 10px; width: 180px; height: 85px; border-radius: var(--radius); background: var(--neutral); backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); font-size: 11px; text-align: justify;}
.sign3 img { width: 100px; height: 140px; border-radius: 0 5px 5px 0; object-fit: cover; object-position: center; }
.lienrecap {line-height: 10px; font-size: 10px;}

.boompro { background: var(--base-2); border-radius: var(--xs-radius); padding: 0 6px 1px; font-style: italic; color: var(--contrast); font-size: var(--little-size); font-family: var(--font-2); display: inline; }

.signv10 { background-color: var(--neutral); width: 290px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; border-top: 1px solid var(--co-1);} 
.imgv10 { float: left; margin: 2px; border: 1px solid var(--neutralDark); border-radius: 100%; height: 65px; object-fit: cover; padding: 5px; width: 65px; }
.titv10 { font-family: var(--special-font); font-size: 19px; text-transform: uppercase; text-align: left; background: var(--co-gradient); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; text-shadow: 0px 0px transparent;}
.txtv10 { width: 280px; font-size: 9px; text-align:justify; }

/*** FICHES DE PRÉSENTATION ------------ ***/

.fiche {
	width: 700px;
	background: var(--neutral);
	margin: auto;
	border-radius: var(--radius);
	padding: 20px;
}
.fiche_aes t1 {
	margin: 0 auto;
	font-size: 2.6rem;
}
.fiche_av {
	width: 200px;
	height: 320px;
	border-radius: var(--radius);
	padding: 8px;
	border: 1px solid var(--white);
}
.fiche_ics img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid var(--co-1);
}
.fiche_ics img:first-of-type {
	transform: translate(0, 20px);
}
.fiche_ics img:last-of-type {
	transform: translate(-20px, -10px);
}
.fiche_aes .sub-4 {
	margin: -45px 35px 30px 150px;
}
.fiche_kw {
	width: 100%;
}
.fiche_rs .flex {
	align-items: flex-end;
}
.fiche_rs .flex > div {
	width: 100%;
	border-right: 1px solid var(--co-2);
	border-left: 1px solid var(--co-2);
}
.fiche_rs .flex > img {
	flex-shrink: 0;
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid var(--co-1);
}
.right_arrow {
	position: relative;
}
.right_arrow::after {
	content: '';
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
	height: 15px;
	width: 15px;
	background-color: var(--co-2);
	position: absolute;
	right: -15px;
	bottom: 17px;
}

annee {
	position: relative;
	display: block;
	font-size: var(--xl-size);
	line-height: 100%;
	font-family: var(--font-2);
	font-style: italic;
	letter-spacing: -2px;
	margin: 0px 0 -15px 10px;
	color: var(--co-2b);
	z-index: 0;
}
card {
	position: relative;
	z-index: 1;
	display: block;
	padding: var(--spacing);
	border-radius: var(--radius);
	background: var(--neutralDark);
}

/* FICHE 2 */
.fiche2 {
	background: var(--neutral);
	max-width: 700px;
	margin: auto;
	line-height: 1.5em;
	border-radius: var(--radius);
	padding: 20px;
}
.block1_fiche {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	gap: 20px;
}
.avatar_fiche2 {
	flex: 1;
	text-align: center;
	position: relative;
}
.avatar_fiche2 img {
	width: 200px;
	height: 320px;
	border-radius: var(--radius);
}
.avatar_fiche2::before {
	content: '\eca0';
	font-family: var(--font-ic);
	color: var(--co-2);
	position: absolute;
	left: -10px;
	top: -10px;
}
.fc_fiche {
	margin-top: 10px;
	background-color: var(--co-1);
	color: #fff;
	font-size: var(--little-size);
	text-transform: uppercase;
	font-weight: 600;
	border-radius: var(--radius);
}
.info_ps {
	display: flex;
	flex-direction: column;
	gap: 35px;
	justify-content: space-between;
	height: 100%;
}
.text-block {
	margin: 0 auto;
	width: 100%;
}
.num_pseudo span:first-child {
	display: block;
	font-family: var(--special-font);
	font-size: var(--xxl-size);
	line-height: var(--xxl-size);
	color: var(--contrast);
}
.text-block > div:last-child {
	background-color: var(--neutral);
	padding: 20px 30px;
	border-radius: var(--radius);
	position: relative;
	height: 330px;
}
.fiche2 .desc {
	height: 290px;
}
.num_pseudo {
	display: flex;
	gap: 5px;
	margin-bottom: -30px;
}
.infogrid_prz2 {
	position: relative;
	border-radius: 8px;
	padding: -40px 0 0 0;
	display: grid;
	margin: 8px 16px 0 16px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 16px;
}
.infogrid_prz2 .infogrid {
	text-align: center;
	padding: 16px;
	border-radius: var(--radius);
	background-color: var(--neutralDark);
}
.num_fiche {
	display: flex;
	margin: -10px 0 -40px;
}
.num_fiche span {
	display: block;
	font-family: var(--special-font);
	font-size: var(--xxl-size);
	line-height: var(--xxl-size);
	color: var(--contrast);
}
.sstitre_fiche {
	text-align: center;
	color: var(--contrast);
	font-size: var(--little-size);
	text-transform: uppercase;
	letter-spacing: 5px;
}
.chronologie {
	position: relative;
	overflow: hidden;
}
.dates {
	display: flex;
	overflow-x: auto;
}
.dates::-webkit-scrollbar {
	height: 0;
}
.madate {
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	padding: 0 8px 5px 5px;
	font-family: var(--font-2);
	color: var(--contrast);
}
.ligne-chronologique {
	position: absolute;
	z-index: 2;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--co-gradient);
}
.bubulle {
	position: absolute;
	left: 16.5px;
	bottom: -6px;
	width: 12px;
	height: 12px;
	background: radial-gradient(var(--co-2b), var(--co-1));
	border-radius: 50%;
	transition: left 0.5s;
}
.contenu {
	display: flex;
	transition: transform 0.3s ease;
}
.monevenement {
	flex: 1 0 100%;
	height: fit-content;
	max-height: 530px;
	overflow: auto;
	padding: 20px;
	background: var(--neutral);
	border-radius: 0 0 var(--radius) var(--radius);
}
.monevenement.cache {
	display: none;
}
more,
.more {
	display: flex !important;
	justify-content: center;
	align-items: center;
	margin: -25px auto;
	width: 50px;
	height: 50px;
	background: radial-gradient(var(--co-2), var(--co-1));
	color: white;
	border-radius: 50%;
	font-family: var(--font-2);
	font-style: italic;
}

cwtw {
	position: relative;
	display: block;
	cursor: help;
	padding: 0 5px;
	font-size: var(--little-size);
	line-height: 130%;
}

cwtw::before {
	content: 'Afficher les avertissements de contenu';
	position: absolute;
	left: -2px;
	top: -2px;
	right: -2px;
	bottom: -2px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--neutralDarker);
	border-radius: var(--radius);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--co-2);
	text-shadow: 0 0 3px;
	opacity: 1;
	transition: opacity 0.7s ease, transform 0.3s ease;
}

cwtw:hover::before {
	opacity: 0;
	transform: translateY(-50%) rotateX(80deg);
	transition: opacity 1s ease, transform 0.5s ease;
}

.fiche3 {
	position: relative;
	display: flex;
	max-width: 870px;
	margin: 0 auto;
}

/* labels */
lab {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 5px;
	margin: 10px 2px;
	color: white;
	border-radius: var(--radius);
	padding: 0 5px;
	font-size: var(--inter-size);
}
lab::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
lab:nth-child(odd)::before {
	background: var(--co-1);
}
lab:nth-child(even)::before {
	background: var(--co-2);
}
lab::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 22px;
	border-radius: var(--radius);
	opacity: 0.7;
}
lab:nth-child(odd)::after {
	background: var(--co-1);
}
lab:nth-child(even)::after {
	background: var(--co-2);
}
lab-2 {
	background: var(--base-2);
	border-radius: var(--xs-radius);
	padding: 0 6px 1px;
}

@media screen and (max-width: 1080px) { 
  .fiche3{flex-direction: column;} 
  
  .fiche3 > .block:last-of-type {
    width: 100% !important;
    margin: 0 !important; }
    
  .fiche3 > .block:first-of-type {
    width: 100% !important; }
  }

.fiche3 more {
	position: absolute;
	top: 15px;
	left: -15px;
	z-index: 2;
	width: 30px;
	height: 30px;
}

.fiche3 > .block {
	flex-shrink: 0;
}
.fiche3 > .block:first-of-type {
	width: 50%;
	background: var(--neutralDarker);
	box-shadow: 5px 0 5px var(--neutral);
	z-index: 1;
	font-size: var(--little-size);
}
.fiche3 > .block:first-of-type b5,
.fiche3 > .block:first-of-type b6 {
	margin-right: 5px;
	font-size: var(--small-size);
}
.fiche3 > .block:last-of-type {
	width: calc(50% + 20px);
	margin: 10px 0 10px -20px;
	background: var(--neutralDark);
}
.fiche3 > .block:last-of-type > .desc {
	padding: 0 5px 0 20px;
}
.fiche3 card {
	position: relative;
	counter-increment: item;
}
.fiche3 card::before {
	content: counter(item);
	position: absolute;
	top: -5px;
	left: -5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 16px;
	height: 12px;
	padding-bottom: 4px;
	font-size: var(--little-size);
	font-family: var(--font-2);
	border-radius: 50%;
	background: radial-gradient(var(--co-2), var(--co-1));
}

.fiche3_av {
	margin: -20px;
	width: calc(100% + 40px);
	height: 250px;
	border-radius: var(--radius) var(--radius) 0 0;
	object-fit: cover;
	margin-bottom: 0;
}

/*** RP1 ***/

@media screen and (max-width: 1100px) {
    
   .rp1.flex {
    flex-direction: column !important;}

.rp1>.block:first-child {
    width: 100% !important;}
}

.rp1 {
    max-width: 800px;
    margin: 0 auto
}

.rp1>.block:first-child {
    width: 150px;
}

.rp1>.block:first-child>.flex {
    flex-direction: column;
    gap: 8px;
    height: 100%
}

.rp1.v2 .block { background: var(--neutralDark) !important; } .rp1.v2>.block:last-child{background: radial-gradient(at left top, var(--co-2), var(--co-1) 50%, 70%, var(--neutral)) !important; padding: 10px}

.rp1 .lyrics {
    margin-top: auto;
    padding: 5px;
    background: var(--neutralDark);
    font-size: var(--small-size);
    text-transform: lowercase
}

.rp1>.block:last-child {
    background: linear-gradient(180deg, var(--co-2) 0%, var(--neutral) 33%);
    padding: 10px
}

.rp1 .block:first-child>.flex>time {
    display: flex;
    gap: 5px;
    align-items: center
}

.rp1>.block:first-child>.flex>time a {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 9px
}

.rp1>.block:first-child>.flex>time span {
    color: var(--co-1)
}

time:has(a[href="#LIEN"]) {
    display: none !important
}

.rp1>.block:first-child img {
    width: 110px;
    border-radius: 5px
}

.rp1 .desc {
    height: 400px
}

/*** RP2 ***/

.rp_2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    min-width: 600px;
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    border-radius: var(--radius);
    background: linear-gradient(45deg, var(--neutral), var(--neutral)), var(--co-gradient);
    padding: calc(var(--spacing) * 2);
    overflow: hidden;
    font-family: 'inconsolata'
}

.rp_2::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 45%);
    height: calc(100% - 50px);
    background: var(--neutralDark);
    top: 25px;
    right: 25px;
    bottom: 4px;
    z-index: 0;
    border-radius: var(--radius)
}

.rp_2 .desc {
    height: 100%;
    position: static;
    z-index: 1
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 40%
}

.rp_2 .desc::-webkit-scrollbar {
    width: 2px
}

.rp_2 title {
    display: block;
    text-align: left;
    font-family: var(--special-font);
    font-size: var(--xxl-size);
    line-height: 4rem;
    color: white;
}

subtitle {
    letter-spacing: 1px;
    display: block;
    font-size: var(--small-size);
    line-height: var(--small-size);
    text-transform: uppercase;
}

subtitle::before {
    content: '';
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background: white;
    color: white;
    margin-bottom: 10px;
    transform: translateX(-40px);
    opacity: .4;
}

.rp_2-links {
    display: flex;
    gap: var(--spacing);
    margin-bottom: var(--spacing)
}

.rp_2 .whenwhere {
    display: block;
    position: absolute;
    top: 10px;
    left: 39%;
    color: white;
    background: var(--co-2);
    padding: 1px 3px;
    z-index: 1;
}

.rp_2-tag {
    background: var(--co-1);
    color: white;
    border-radius: 0;
    padding: 1px 3px !important;
    position: absolute;
    right: 13px;
    bottom: 13px;
    z-index: 2
}

.rp_2-tag a {
    color: white !important
}

.rp_2-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--base-gradient);
    border: 1px solid var(--co-2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: var(--co-2)
}

.rp_2 cr {
    font-size: 2.7rem
}

/*** RP3 ***/

.bg {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at 89.99% 8.05%, var(--co-1), transparent 67%), radial-gradient(circle at 52.03% 43.03%, var(--co-2), transparent 61%), radial-gradient(circle at 50.00% 50.05%, var(--white), transparent 100%), radial-gradient(circle at 50% 50%, var(--co-2), var(--white) 100%)
}

.bg .partenaire {
    height: 570px;
    padding: 20px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-left: 1px solid var(--white);
    text-align: right;
    text-transform: lowercase;
    font-size: var(--small-size);
    font-style: italic;
    letter-spacing: 1px
}

.tt_txt {
    margin: 50px 20px 20px
}

.bg .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: var(--xl-size);
    line-height: 80%;
    color: white;
}

.bg .gif {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.bg .txt {
    padding: 20px;
    background: var(--neutralDarker);
    border-radius: 20px 0 0 20px;
}

.bubbles span {
    display: block;
    margin: 20px 20px 20px 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: var(--white)
}

/*** RP4 ***/

.rp3 {
    position: relative;
    width: 600px;
    margin: -15px auto 0;
    padding-bottom: 40px;
    background: var(--neutral);
    padding: var(--spacing);
    border-radius: var(--radius);
    overflow: hidden;
    z-index: 0;
    transition: .5s all
}

.rp3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    padding: 1px;
    background: linear-gradient(181deg, var(--neutral), var(--co-1), var(--co-2), var(--base-2));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude
}

.rp3:hover {
    background: var(--neutralDarker)
}

.rp3_top {
    background: var(--co-gradient);
    transform: rotate(-6deg);
    width: 620px;
    height: 160px;
    margin-top: -55px;
    margin-left: -30px;
    padding-top: 50px
}

.rp3_top>* {
    transform: rotate(6deg);
}

.rpg3_quote {
    width: 180px;
    margin: 0 auto
}

.rp3_cols {
    position: relative;
    columns: 2;
    column-gap: 20px;
    column-fill: balance;
}

.rp3_img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    background: var(--co-gradient);
    padding: 1px
}

t1b {
    display: block;
    width: fit-content;
    width: -webkit-fit-content;
    margin: 0 auto -10px;
    padding: 0 var(--spacing);
    font-family: var(--special-font);
    font-size: var(--xl-size);
    line-height: var(--xl-size);
    color: var(--co-1);
    background: var(--co-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px transparent;
    text-align: center;
}

.rp3 little-tx {
    color: white;
}

/*** RP5 ***/

@media screen and (max-width: 1400px) {
    
.rp_up {
    width: 80% !important;
}
    
}

.rp_up {
    background-color: var(--neutralDark);
    width: 60%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid var(--co-1);
    border-bottom: 1px solid var(--co-2);
    border-radius: 5px;
    text-align: justify;
    position: relative;
    margin: 130px auto 20px;
}

.popup {
    position: absolute;
    background: var(--neutralDarker);
    right: -65px;
    padding: 10px;
    backdrop-filter: blur(100px);
    border-radius: var(--xs-radius);
    width: 200px;
    margin-top: -50px;
}

.rp_up .popup time {
    background-color: var(--base-1);
}

.popup_title {
    background: var(--co-gradient);
    height: 20px;
    font-size: var(--small-size);
    line-height: var(--small-size);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin-top: -9px;
    width: 200px;
    margin-left: -10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    color: white;
}

.img_popup {
    position: absolute;
    right: -100px;
    z-index: 1;
    top: -90px;
}

.rp_up .desc {
    height: 400px;
    background: var(--neutralDark);
    border-radius: var(--xs-radius);
    position: absolute;
    border: 20px solid transparent;
    padding-right: 10px;
    z-index: 1;
}

.rp_up::after {
    content: '';
    display: block;
    background: var(--co-gradient);
    height: 400px;
    border-radius: var(--xs-radius);
    -webkit-mask: linear-gradient(to bottom, var(--co-1), var(--co-1) 60%, transparent 95%);
    mask: linear-gradient(to bottom, var(--co-1), var(--co-1) 0%, transparent 20%);
    opacity: .5;
}

/*** RP6 ***/

.rp_wave {
    padding: 20px;
    border-radius: var(--xs-radius);
    max-width: 800px;
    margin: 0 auto;
}

.wave1 {
    background: var(--neutralDarker);
    width: 150px;
    border-radius: var(--xs-radius);
    position: relative;
}

.wave2 {
    width: 500px;
    padding: 20px;
    border-radius: var(--xs-radius);
    border: 1px solid var(--neutralDarker);
}

.rpwave {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--neutralDarker);
    --mask: radial-gradient(54.08px at 50% 75.00px, #000 99%, #0000 101%) calc(50% - 60px) 0 / 120px 100%, radial-gradient(54.08px at 50% -45px, #0000 99%, #000 101%) 50% 30px / 120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    border-radius: 20px;
    margin-top: -60px;
}

.wave_img {
    width: 150px;
    height: 150px;
    border-radius: var(--xs-radius);
}

.infowave {
    padding: 15px;
    position: absolute;
    left: -40px;
    width: 100%;
}

.lienwave {
    background: var(--co-gradient);
    bottom: 0;
    position: absolute;
    width: 150px;
    border-radius: 0 0 5px 5px;
    color: white;
    text-align: center;
    font-size: var(--small-size);
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px;
}

.wave2 .desc {
    background-color: var(--neutralDarker);
    padding: 20px;
    border-radius: var(--xs-radius);
    height: 400px;
}

.rp_wave .infowave time {
    background-color: var(--base-1);
}

.wave2 t5 {
    margin: 0 auto;
    display: block;
}

/*** RP7 ***/

.rp_sea {
    width: 550px;
    border-radius: var(--xs-radius);
    border: 4px solid var(--neutralDark);
    min-height: 300px;
    background: var(--neutralDark);
    margin: 0 auto;
}

.rp_seatop {
    background: var(--co-gradient);
    mask: linear-gradient(to bottom, var(--co-1), var(--co-1) 76%, transparent 95%);
    border-radius: var(--xs-radius);
    height: 300px;
}

.rp_titresea {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 110%;
    color: var(--white);
    font-family: var(--font-2);
}

.rp_titresea e {
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 50%;
}

.rp_titresea mini {
    font-size: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

.rp_seablock {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.rp_seainfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rp_seaimg {
    width: 90px;
    height: 90px;
    border-radius: 12px;
    object-fit: cover;
}

.rp_sea .desc {
    height: 400px;
    padding: 20px;
}

/*** RP8 ***/

@media screen and (max-width: 1400px) {
    
.rp_id {
    width: 80% !important;
}
    
}

.rp_id>br {
    display: none;
}

.rp_id {
    width: 60%;
    border: 1px solid var(--neutralDarker);
    margin: 10px auto;
    border-radius: 20px;
    background: var(--neutral);
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #0007;
}

.rpid_header {
    height: 95px;
    width: 100%;
    background: linear-gradient(0deg, transparent 10%, var(--co-1) 100%);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.rpid_header>img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 5px solid var(--background);
    margin: auto;
    background: var(--background);
    padding: 1px;
    margin-top: 30px;
    object-fit: cover;
}

.rpid_user {
    padding: 10px 20px;
    text-align: center;
    font-family: var(--special-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rpid_user>span {
    font-size: 10px;
    line-height: 100%;
    font-family: var(--font-2);
    text-align: justify;
}

.rpid_info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 10px;
    gap: 25px;
}

.rpid_info>div {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 14px;
    color: var(--color);
}

.rpid_info span {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1px;
}

.rpid_cont {
    height: 400px;
    border: 20px solid transparent;
    background: var(--neutralDark);
    border-radius: var(--radius);
    padding: var(--spacing);
}

.rpid_padding {
    padding: var(--spacing);
}

/*** RP9 ***/

.rp_transp {
    max-width: 650px;
    margin: 0 auto;
}

.rp_transp.block {
    background: radial-gradient(at left top, var(--co-2), var(--co-1) 50%, 70%, var(--neutral)) !important;
    padding: 10px
}

.rp_transp.block>.block {
    background: var(--neutralDark)
}

.rp_transp .title {
    width: fit-content;
    margin: 0 auto -20px;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center
}

.rp_transp .title>* {
    grid-row: 1;
    grid-column: 1
}

.rp_transp .title t1 {
    color: transparent;
    -webkit-text-stroke: 1px var(--co-1);
    font-size: 130px;
    letter-spacing: -2px;
    opacity: .8
}

.rp_transp .title i4 {
    padding: 0 5px;
    box-shadow: 0 0 5px var(--neutralDark);
    font-style: italic;
    text-transform: lowercase;
    z-index: 1;
    background: var(--co-gradient);
    border-radius: var(--xs-radius);
    color: white
}

.rp_transp .sep {
    margin: 0;
    font-size: var(--title-size)
}

.rp_transp .sep img {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    outline-offset: 3px;
    outline: 1px solid var(--co-1)
}

.rp_transp .sep::before,
.rp_transp .sep::after {
    width: 100%;
    opacity: 1
}

.rp_transp .rp_content {
    margin: var(--spacing) 30px;
}

.rp_transp .desc {
    margin: -15px 0 10px;
    background: var(--neutralDark);
    border: var(--spacing) solid transparent;
    border-radius: var(--radius);
    padding-right: 10px
}

.rp_transp lett {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    margin: 5px 20px 0 3px;
    background: var(--co-gradient);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    border-radius: var(--xs-radius);
    font-size: var(--xxl-size);
    color: white
}

.rp_transp .sep details {
    flex-shrink: 0;
    margin: 0;
    width: 330px
}

.rp_transp .sep summary {
    justify-content: space-between;
    margin: 0
}

.rp_transp .sep summary>a {
    white-space: nowrap;
    width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*** RP10 ***/

.rpevent {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.rpevent>div {
    border-radius: var(--radius)
}

.rpevent_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--co-gradient);
    color: var(--neutralDarker);
    overflow: hidden
}

.rpevent_title div:first-child {
    padding: 20px
}

.rpevent_title p::first-letter {
    float: left;
    margin-right: 8px;
    font-family: var(--special-font);
    line-height: 100%;
    font-size: var(--xxl-size)
}

.rpevent_title p {
    margin: 0;
    font-family: var(--font-2);
    font-style: italic;
    font-size: var(--xl-size);
    line-height: 89%;
    width: 100%;
}

.rpimg {
    margin: 8px;
    width: 30%;
    height: -webkit-fill-available;
    background-size: cover;
    border-radius: var(--radius)
}

.rpevent_txt {
    padding: 20px;
    background: var(--neutralDark);
    border-top: 1px solid var(--co-2);
    border-bottom: 1px solid var(--co-2)
}

/*** RP11 ***/

.rp8 {
    background: var(--neutralDarker);
    border-radius: var(--radius);
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.rp8_head {
    position: relative;
    background: var(--co-2grad);
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.custom-shape-divider-bottom-1606698444 {
    position: absolute;
    bottom: 0;
    left: -20px;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1606698444 svg {
    position: relative;
    display: block;
    width: calc(218% + 1.3px);
    height: 243px;
}

.custom-shape-divider-bottom-1606698444 .shape-fill {
    fill: var(--neutralDarker);
}

.rpinfo8 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}

.rpicon {
    position: relative;
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 40px 0px;
}

.rpicon img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.rp8icon {
    position: absolute;
    top: 254px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    font-size: 80px;
    opacity: 0.1;
}

.rp-title {
    position: relative;
    text-align: center;
}

.rp-title span {
    font-family: var(--special-font);
    font-size: var(--xl-size);
    background: var(--co-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 30px;
}

.rp8 .sub-4 {
    margin: 20px 100px !important;
}

.rp8_txt {
    background: var(--neutralDarker);
    padding: 0 40px 40px;
    text-align: justify;
    height: 500px;
    margin-bottom: 40px;
}

.rp8:after {
    clip-path: circle(50% at 86% 78%);
    position: absolute;
    background: var(--co-1grad);
    content: "";
    bottom: 0;
    right: 0;
    height: 260px;
    width: 200px;
    opacity: 0.3;
}

.rp8:before {
    clip-path: circle(50% at 53% 100%);
    position: absolute;
    background: var(--co-2grad);
    content: "";
    bottom: 0;
    left: -40px;
    height: 180px;
    width: 200px;
    opacity: 0.1;
}

/*** RP12 ***/

.rp9 {
    margin: auto;
    width: 730px;
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    background: var(--neutralDark);
    border-right: 2.5px solid var(--co-1);
    border-radius: var(--radius);
}

.rp9_left {
    width: 100px;
    background: var(--co-2grad);
    transform: rotate(-3deg) scale(1.5);
    position: inherit;
}

.rp9_pink {
    width: 165px;
    height: 263px;
}

.rp9_icon {
    width: 165px;
    height: 263px;
    filter: grayscale(1);
    transform: scale(0.8) translate(-25px, 90px);
    z-index: 2;
    position: absolute;
}

.rp9_icon img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.rp9_titre {
    font-family: var(--special-font);
    font-size: var(--xl-size);
    line-height: var(--xl-size);
    padding: 30px 102px;
    color: var(--contrast);
}

.rp9_titre::after {
    position: relative;
    content: "";
    display: block;
    width: 280px;
    height: 2px;
    background: var(--co-gradient);
}

.rp9_rp {
    background: var(--neutral);
    border-radius: var(--radius);
    padding: 30px;
    margin: 30px 50px 0 0;
    backdrop-filter: blur(3px);
    text-align: justify;
    height: 450px;
}

.rp9_position {
    position: relative;
    z-index: 2;
    padding: 30px 0;
}

.rp9 time {
    border: 1px solid var(--co-1) !important;
}

/*** RP13 ***/

.rp10 {
    width: 650px;
    background: var(--co-gradient);
    border-radius: var(--radius);
    padding: 30px 25px;
    position: relative;
    margin: 0 auto;
    --co-gradient: linear-gradient(45deg, var(--co-2), var(--co-1));
}

.rp-header {
    text-align: left;
    margin-bottom: 25px;
    position: relative;
}

.tag10 {
    display: inline-block;
    background: var(--white);
    color: var(--contrast);
    font-size: var(--small-size);
    letter-spacing: 1px;
    padding: 5px 8px;
    border-radius: var(--radius);
    text-transform: uppercase;
    font-family: var(--font-2);
}

.tag10 span {
    background: var(--co-1);
    padding: 0 4px;
    border-radius: var(--radius);
}

.title10 {
    font-family: var(--special-font);
    font-size: var(--xl-size);
    font-weight: 700;
    color: var(--co-2);
}

.subtitle10 {
    font-style: italic;
    font-size: var(--little-size);
    line-height: var(--little-size);
    opacity: 0.85;
    font-family: var(--font-2);
    color: var(--white);
    margin-top: -10px;
}

.rp-box10 {
    display: flex;
    padding: 20px;
}

.sidebar10 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-right: 20px;
    width: 90px;
}

.sidebar10 .block {
    border: 1px solid var(--white);
}

.sidebar10 img,
.sidebar10 .block {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
    background: var(--neutralDark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;
    transform: rotate(-5deg);
}

.block.ic10 {
    transform: rotate(5deg);
}

.block.co1 {
    background: var(--co-1grad);
    transform: rotate(5deg);
}

.block.co2 {
    background: var(--co-2grad);
    transform: rotate(5deg);
}

.text10 {
    flex: 1;
    background: var(--neutralDarker);
    border-radius: var(--radius);
    padding: 20px;
    height: 490px;
}

.rp-footer10 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.scotch10 {
    position: absolute;
    width: 60px;
    height: 14px;
    background: #aaa;
    opacity: 0.4;
    transform: rotate(-20deg);
}

.scotch10.up {
    top: 175px;
    left: 131px;
}

.scotch10.down {
    bottom: 85px;
    right: 21px;
    transform: rotate(-28deg);
}

/*** RP14 ***/

.RP_DL {
    width: 600px;
    margin: 0 auto;
}

.BORD_DL {
    background: var(--gradient);
    padding-left: 25px;
    border-radius: var(--radius);
    padding-bottom: 25px;
}

.BORD_DL2 {
    padding: 50px;
    background-color: var(--neutralDarker);
    position: relative;
    overflow: hidden;
    border-radius: 0 5px 0 0;
}

.PARTIE_TITRE {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background: var(--co-gradient);
    position: absolute;
    margin: -90px 0px 0px 285px;
    overflow: hidden;
    opacity: .35;
}

.DL_ICON {
    overflow: hidden;
    position: absolute;
    top: -22px;
    right: -50px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    z-index: 3;
}

.ICONDL {
    font-size: 150px;
    line-height: 100px;
    position: absolute;
    color: var(--co-2);
    opacity: .05;
    padding-left: 25px;
}

.SSTITREDL {
    font-family: var(--font-2);
    font-size: var(--small-size);
    line-height: 10px;
    height: 10px;
    padding-bottom: 5px;
    padding-top: 45px;
    width: 280px;
    text-transform: uppercase;
}

.TITRE_RP {
    color: var(--co-2);
    font-size: var(--xl-size);
    font-family: var(--special-font);
    font-weight: 200 !important;
    text-transform: lowercase;
    line-height: 40px;
    width: 280px;
}

.INFOGRILLE_DL a {
    color: #000;
}

.INFOGRILLE_DL {
    position: relative;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, auto);
    margin-top: 10px;
    margin-bottom: -12px;
    color: #000;
}

.INFODL {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 5px;
    background: var(--co-gradient);
}

t9 {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 120%;
    font-size: var(--small-size);
    text-transform: uppercase;
}

.RPOK {
    height: 325px;
    padding-right: 10px;
}

/* MODELE RP TRANSFERT */

.bookrp { position: relative; display: flex; max-width: 870px; margin: 0 auto; } 
.bookrp > .block:first-of-type { width: 50%; background: var(--neutralDarker); box-shadow: 5px 0 5px var(--neutral); z-index: 1; font-size: var(--little-size); border: 10px solid var(--co-2);} 
.bookrp > .block:last-of-type { width: calc(50% + 20px); margin: 10px 0 10px -5px; background: var(--neutralDark); } 
.bookrp > .block { flex-shrink: 0; } .block { background: var(--neutral); border-radius: var(--radius); padding: var(--spacing); } 
.bookrptag { display: inline-block; background: var(--white); color: var(--contrast); font-size: var(--small-size); letter-spacing: 1px; padding: 5px 8px; border-radius: var(--radius); text-transform: uppercase; font-family: var(--font-2); } 
.bookrptag span { background: var(--co-1); padding: 0 4px; border-radius: var(--radius);} 
.bookrptitle { font-family: var(--special-font); font-size: var(--title-size); font-weight: 700; color: var(--co-2);} 
.sidebar11 { display: flex; justify-content: center; gap: 14px;} .sidebar11 .block { border: 1px solid var(--white); } 
.sidebar11 img, .sidebar11 .block { width: 70px; height: 70px; border-radius: 8px; object-fit: cover; background: var(--neutralDark); display: flex; align-items: center; justify-content: center; font-size: 1.4rem; color: white; transform: rotate(-5deg);} 
.block.ic10 { transform: rotate(5deg);} .block.co1 { background:var(--co-1); transform: rotate(5deg);} 
.block.co2 { background: var(--co-2); transform: rotate(5deg);} 
.bookrpgrid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 25px; } 
.bookrpstuff { text-align: center; background: var(--co-gradient); border-radius: 10px; padding: 15px; color: white; } 
.bookrpcont { padding: 20px; background: var(--neutralDark); border-radius: 20px; max-height: 143px; overflow: auto; } 
.bookrpend { background: var(--co-gradient); font-size: var(--small-size); color: white; font-style: italic; justify-content: center; display: flex; font-family: var(--font-2); letter-spacing: 5px; border-radius: var(--radius);} 
.bookrp annee { position: absolute; right: -30px; top: -12px; } 
lett11 { font-size: var(--xl-size); line-height: 115%; font-family: var(--special-font); color: white; float: left; margin: 5px 10px 5px 0px; padding: 20px; border-radius: var(--radius); background: var(--co-gradient); }

@media screen and (max-width: 1080px) { 
  .bookrp{flex-direction: column;} 
  
  .bookrp > .block:last-of-type {
    width: 100% !important;
    margin: 0 !important; }
    
  .bookrp > .block:first-of-type {
    width: 100% !important; }
  }
