@font-face {
    font-family: 'Amstrong';
    src: url('Amstrong.woff2') format('woff2'),
        url('Amstrong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EFCO Brookshire';
    src: url('EFCOBrookshireRegular.woff2') format('woff2'),
        url('EFCOBrookshireRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

