@font-face {
    font-family: 'Klomisk';
    src: url('Klomisk.woff2') format('woff2'),
        url('Klomisk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klomisk';
    src: url('Klomisk-Italic.woff2') format('woff2'),
        url('Klomisk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

